@tailwind preflight;

a {
    @apply .text-orange;
    text-decoration: none;
}

a:visited {
    @apply .text-orange;
}


.btn {
    @apply .border .border-orange .text-orange .p-2 .rounded .bg-transparent;
}

.btn:hover {
    @apply .border-orange-darker .text-orange-darker;
}


.btn-primary {
    @apply .text-white .bg-orange;
}

.btn-primary:hover {
    @apply .bg-orange-dark .border-orange-dark .text-white;
}

.btn-primary:visited {
    @apply .text-white;
}

.btn-primary:disabled {
    @apply .bg-orange-lighter .border-orange-lighter .text-grey-light .cursor-not-allowed;
}


.btn-sm {
    @apply .text-sm .py-1 .px-2;
}

.blog-entity:hover .delete {
    display: inline-block;
}


.loader {
   color: transparent !important;
   pointer-events: none;
   position: relative;
}

.loader:after {
    animation: spinAround 500ms infinite linear;
    border: 2px solid #dbdbdb;
    border-radius: 290486px;
    border-right-color: transparent;
    border-top-color: transparent;
    content: "";
    display: block;
    width: 1em;
    height: 1em;
    position: relative;
    position: absolute;
    left: calc(50% - (1em / 2));
    top: calc(50% - (1em / 2));
    position: absolute !important;
}

@keyframes spinAround {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}


.soon {
    @apply .border .border-orange .text-orange .text-xs .px-1 .mb-1  .rounded;
}

@tailwind utilities;