@tailwind preflight;

a {
    text-decoration: none;
}

a:visited {
    @apply .text-indigo;
}

.btn {
    @apply .border .border-indigo .text-indigo .p-2 .rounded-sm .bg-transparent;
}

.btn:hover {
    @apply .border-indigo-darker .text-indigo-darker;
}


.btn-primary {
    @apply .text-white .p-2 .rounded .bg-indigo;
}

.btn-primary:hover {
    @apply .bg-indigo-dark .border-indigo-dark .text-white;
}

.btn-primary:visited {
    @apply .text-white;
}

.btn-primary:disabled {
    @apply .bg-indigo-lighter .border-indigo-lighter .text-grey-light .cursor-not-allowed;
}


.btn-sm {
    @apply .text-sm .py-1 .px-2;
}

.blog-entity:hover .delete {
    display: inline-block;
}

// Hat-tip to Bulma.
   .loader {
       color: transparent !important;
       pointer-events: none;
       position: relative;
   }

.loader:after {
    animation: spinAround 500ms infinite linear;
    border: 2px solid #dbdbdb;
    border-radius: 290486px;
    border-right-color: transparent;
    border-top-color: transparent;
    content: "";
    display: block;
    width: 1em;
    height: 1em;
    position: relative;
    position: absolute;
    left: calc(50% - (1em / 2));
    top: calc(50% - (1em / 2));
    position: absolute !important;
}

@keyframes spinAround {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@tailwind utilities;